/* Стилизация аккордеона */

.accordion_item {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 580px;
    margin: 8px;
}
/* Стиль заголовка */
.accordion_title { 
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: var(--Black, #212429)
}
/* Стиль наборного текста */
.accordion_content {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: var(--Grey-4, #495057);
    margin-top: 0px;
}

/* Отключение стрелки */
.accordion_summary {
    display: inline;
    list-style-type: none;
    
}
.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}
