
    header {
        text-align: left;
        background-color: var(--white); 
        color: var(--black); 
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left:160px;
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 64px; /* 128% */ 
    }
    
    
   main {
        background-color: #F9FAFC;
        width: 1440px;
        height: 1036px;
        flex-shrink: 0;
    }
    

    footer {
        text-align: center;
        background-color: var(--white); 
        color: black;   
    }
    
    h2{
        
    }
    