@import '../fonts/fonts.css';

:root {
    --pink: #F784AD;
    --blue: #374FC7;
    --blue_hover: #2342C0;
    --blue_disabled: #A0B0F4;
    --purple: #7048E8;
    --purple_hover: #5028C6;
    --purple_disabled: #B7A3F3;
    --white: #ffffff;
    --white-50: rgba(255, 255, 255, 0.5);
    --black: #212429;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-3-30: rgba(73, 80, 87, 0.30);
    --grey-4: #495057;
    --grey-4-30: rgba(172, 181, 189, 0.30);
    --red: #F03D3E;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Inter';
}
h1 {
color:var(--black);
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 128% */
}
h2 {
font-family: Inter;
font-size: 38px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 126.316% */
}
header {
    text-align: center;
    background-color: var(--grey-2); 
    color: black; 
    padding: 20px;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px; /* 128% */ 
}
nav {
    text-align: center;
    background-color: var(--grey-3);
    padding: 20px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

nav ul {
    display: inline-flex;
    list-style: none;
    color: black;
    padding: 20px;
    gap: 40px;
}
main {
    background-color: var(--grey-2);  
    padding:  20px; 

}
article {
    background-color: var(--white); 
    color: black; 
    padding: 20px; 
    margin-bottom: 20px;
}

article:last-child {
    margin-bottom: 0px;
}
footer {
    text-align: center;
    background-color: var(--grey-3); 
    color: black; 
    padding: 20px; 
}


